<div id="titleBar" class="bg-primary">
	<div class="row bg-primary">
		<div class="col-xs-3 bg-primary">
			<button type="button" class="btn btn-primary pull-left hamburger"
					ng-click="openMenu()"
					style="vertical-align : middle;">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
		</div>
		<div class="col-xs-6 bg-primary" style="text-align : center;"
             ng-click="goToHome()"><h4>KineLive</h4></div>
		<div class="col-xs-3 bg-primary">
			<button type="button" class="btn btn-primary pull-right search"
					style="vertical-align : middle;">
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</div>
	</div>
</div>

<div id="tabBar" class="bg-primary bg-primary-dark">
	<div class="row patientList">
		<div class="col-xs-3 bg-primary bg-primary-dark">
			<button type="button" class="btn btn-primary bg-primary-dark pull-left arrow"
					ng-click="goToHome()"
					style="vertical-align : middle;">
				<span class="glyphicon glyphicon-arrow-left"></span>
			</button>
		</div>
		<div class="col-xs-6 bg-primary bg-primary-dark" style="text-align : center;"><h4>PATIENTS</h4></div>
		<div class="col-xs-3 bg-primary bg-primary-dark">
			<span/>
		</div>
	</div>
</div>
