<div id="tabBar" class="bg-primary">
	<div class="row">
		<div class="col-xs-4 iconLink" ng-class="{'active' : currentState == 'adPatient'}">
			<span class="glyphicon glyphicon-plus" ng-click="goToAddPatient()"></span>
		</div>
		<div class="col-xs-4 iconLink" ng-class="{'active' : currentState == 'home'}">
			<span class="glyphicon glyphicon-home" ng-click="goToHome()"></span>
		</div>
		<div class="col-xs-4 iconLink" ng-class="{'active' : currentState == 'calendar'}">
			<span class="glyphicon glyphicon-time" ng-click="goToCalendar()"></span>
		</div>
	</div>
</div>
