<div id="mainSidenav" class="sidenav bg-primary" ng-class="{ 'expanded' : leftMenuExpanded }">
	<a class="closeSidenav bg-primary" ng-click="closeMenu()">&times;</a>

	<a class="bg-primary sidenavLink" ng-click="goToHome()">
		<span class="glyphicon glyphicon-home bg-primary" aria-hidden="true"></span>
		Home
	</a>

	<a class="bg-primary sidenavLink" ng-click="goToPatientList()">
		<span class="glyphicon glyphicon-user bg-primary" aria-hidden="true"></span>
		Patients
	</a>

	<a class="bg-primary sidenavLink" ng-click="goToHome()">
		<span class="glyphicon glyphicon-globe bg-primary" aria-hidden="true"></span>
		Partage
	</a>

	<a class="bg-primary sidenavLink" ng-click="goToHome()">
		<span class="glyphicon glyphicon-heart-empty bg-primary" aria-hidden="true"></span>
		Anatomie
	</a>

	<a class="bg-primary sidenavLink" ng-click="goToHome()">
		<span class="glyphicon glyphicon-facetime-video bg-primary" aria-hidden="true"></span>
		Vidéos
	</a>

	<a class="bg-primary sidenavLink" ng-click="goToHome()">
		<span class="glyphicon glyphicon-info-sign bg-primary" aria-hidden="true"></span>
		Informations
	</a>

	<a class="bg-primary sidenavLink" ng-click="goToHome()">
		<span class="glyphicon glyphicon-alert bg-primary" aria-hidden="true"></span>
		Confidentialité
	</a>

	<a class="bg-primary sidenavLink" ng-click="goToHome()">
		<span class="glyphicon glyphicon-cog bg-primary" aria-hidden="true"></span>
		Paramètres
	</a>

	<a class="bg-primary sidenavLink" ng-click="logout()">
		<span class="glyphicon glyphicon-log-out bg-primary" aria-hidden="true"></span>
		Déconnexion
	</a>
</div>
