<ui-main-component-title-bar></ui-main-component-title-bar>
<ui-main-component-tab-bar-patient></ui-main-component-tab-bar-patient>

        <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Profil de {{patient.lastname}} {{patient.firstname}}</h3>
    </div>
    <div class="panel-body">

        <div class="radio">
            <label>
                <input type="radio" name="Homme" ng-model="patient.gender" ng-value="'M'" />
                Homme
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="Femme" ng-model="patient.gender" ng-value="'F'" />
                Femme
            </label>
        </div>
        
        <h4 class="title">Né le</h4>
        <input type="text" class="form-control" value="{{ patient.birthdate }}" />

        <h4 class="title">Email</h4>
        <input type="text" class="form-control" value="{{ patient.email }}" />

        <h4 class="title">Telephone</h4>
        <input type="text" class="form-control" value="{{ patient.phone }}" />

        <h4 class="title">Adresse</h4>
        <input type="text" class="form-control" value="{{ patient.adress }}" />

        <h4 class="title">Adresse</h4>
        <textarea ng-model="patient.context"
                  type="text"
                  class="form-control"
                  rows="4"></textarea>

        <h4 class="title">Anamnèse</h4>
        <textarea ng-model="patient.anamnese"
                  type="text"
                  class="form-control"
                  rows="4"></textarea>

        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        <img src="icone/irm.jpg" alt="125x125">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        <img src="icone/radio.jpg" alt="125x125">
                    </a>
                </div>
                <div class="col-xs-3">
                    <a href="#" class="thumbnail">
                        <img src="125x125.jpg" alt="125x125">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
