<ui-main-component-title-bar></ui-main-component-title-bar>
<ui-main-component-tab-bar-form></ui-main-component-tab-bar-form>

<div class="container">

    <form name="ficheSuiviForm" ng-submit="ficheSuiviForm.$valid && doFicheSuiviCreation()" novalidate>

    <!--
    <a class="btn btn-default" href="#" role="button" ng-click="record()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Enregistrer son
    </a>

    <a class="btn btn-default" href="#" role="button" ng-click="play()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Lire son
    </a>-->

    <div class="form-group title">
        <label for="state">Etat des lieux</label>
        <textarea class="form-control"
                  ng-model="suivi.state"
                  rows="5"
                  id="state"></textarea>
    </div>

    <div class="form-group title">
        <label>Critères de suivi</label>

        <a class="btn btn-default" href="#" role="button" ng-click="addCriteria()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Ajouter un critère
        </a>

        <div ng-repeat="criteria in criterias">
            <select class="form-control" ng-model="criteria.type">
                <option value="Amplitude">Amplitude</option>
                <option value="Douleur">Douleur</option>
                <option value="Mobilité">Distance doigt-sol</option>
            </select>

            <div class="row">
                <div style="float:left; width:70%;">
                    <rzslider rz-slider-model="criteria.level" rz-slider-options="slider_ticks_values.options"></rzslider>
                </div>

                <a class="btn btn-default" href="#" role="button" ng-click="toggleImage()">
                    <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="title">Exercices</label>

        <a class="btn btn-default" href="#" role="button" ng-click="addExercice()">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Ajouter un exercice
        </a>

        <div ng-repeat="exercice in exercices">
            <textarea class="form-control"
                      rows="5"
                      placeholder="Type, fréquence, série, nombre de répétitions"></textarea>
        </div>
    </div>

<form name="ficheSuiviForm" ng-submit="ficheSuiviForm.$valid && doFicheSuiviCreation()"
      novalidate>


</form>
    </form>
</div>




