<ui-main-component-title-bar></ui-main-component-title-bar>
<ui-main-component-tab-bar-form></ui-main-component-tab-bar-form>

<div class="container">

    <form name="ficheSuiviForm" ng-submit="ficheSuiviForm.$valid && doFicheSuiviCreation()" novalidate>

    <!--
    <a class="btn btn-default" href="#" role="button" ng-click="record()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Enregistrer son
    </a>

    <a class="btn btn-default" href="#" role="button" ng-click="play()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Lire son
    </a>-->

    <div class="form-group">
        <label class="title" for="state">ETAT DES LIEUX</label>
        <textarea class="form-control"
                  ng-model="suivi.state"
                  rows="5"
                  id="state"></textarea>
    </div>

    <div class="form-group criterias-container">
        
        <label class="title">CRITERES DE SUIVI</label>

        <div>
            <label>Douleur</label>
            <div class="row">
                <div class="col-xs-10">
                    <rzslider rz-slider-model="criteria.level" rz-slider-options="slider_ticks_values.options"></rzslider>
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-default" href="#" role="button" ng-click="toggleImage()">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <label>Distance doigt-sol</label>

            <div class="row">
                <div class="col-xs-10">
                    <rzslider rz-slider-model="criteria.level2" rz-slider-options="slider_ticks_values2.options"></rzslider>
                </div>
                <div class="col-xs-2">
                    <a class="btn btn-default" href="#" role="button" ng-click="toggleImage()">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-default plus" href="#" role="button" ng-click="addCriteria()">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>

    <div class="form-group">
        <label class="title">EXERCICES</label>

        <div ng-repeat="exercice in exercices">
            <textarea class="form-control exercice-text"
                      rows="5"
                      placeholder="Type, fréquence, série, nombre de répétitions"></textarea>
        </div>
        <div class="row">
            <a class="btn btn-default plus" href="#" role="button" ng-click="addExercice()">
                <i class="material-icons">add</i>
            </a>
        </div>
        
        
    </div>
        

<form name="ficheSuiviForm" ng-submit="ficheSuiviForm.$valid && doFicheSuiviCreation()"
      novalidate>


</form>
    </form>
</div>




