
/* angular */

/*.ng-invalid.ng-dirty {*/
/*	border-color : #FA787E;*/
/*}*/

/*.ng-valid.ng-dirty {*/
/*	border-color : #78FA89;*/
/*}*/

/* bootstrap */

/*.input-group {*/
/*	margin-bottom : 10px;*/
/*}*/

/* vignette categorie */
.category-image-box {
    width: 70px;
    height: 70px;
    padding : 0px;
}

.category-image {
    background-size: 140px auto;
    background-position: center;
    background-repeat : no-repeat;
    width: 70px; height: 70px;
}


/* TEST ANGULAR MAP */
/* hack google map pour autocomplete qui passe derrière popup */
.pac-container {
    z-index: 1051 !important;
}

.pac-controls {
    margin-top: 16px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px !important;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    left : 10px !important;
}

#pac-input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
}

#pac-input:focus {
    border-color: #4d90fe;
    margin-left: -1px;
    padding-left: 14px;  /* Regular padding-left + 1. */
    width: 401px;
}

.pac-container {
    font-family: 'Open Sans', sans-serif;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 300;
}

.angular-google-map-container {
    width: 100%;
    height: 300px;
}

.gm-style-mtc {
    margin-top : 50px !important
}


/* MENU */

/* The side navigation menu */
.sidenav {
    display: block;
    position: fixed;
    height: 100%; /* 100% Full-height */
    width: 250px; /* 0 width - change this with JavaScript */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: -250px;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: -webkit-transform ease 250ms;
    -moz-transition: -webkit-transform ease 250ms;
    -ms-transition: -webkit-transform ease 250ms;
    -o-transition: -webkit-transform ease 250ms;
    transition: -webkit-transform ease 250ms;
    -webkit-transition: transform ease 250ms;
    -moz-transition: transform ease 250ms;
    -ms-transition: transform ease 250ms;
    -o-transition: transform ease 250ms;
    transition: transform ease 250ms;
}

.sidenav.expanded {
    transform: translate3d(250px, 0, 0);
    -ms-transform: translate3d(250px, 0, 0);
    -webkit-transform: translate3d(250px, 0, 0);
    -o-transform: translate3d(250px, 0, 0);
    -moz-transform: translate3d(250px, 0, 0);
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-transition: -webkit-transform ease 250ms;
    -moz-transition: -webkit-transform ease 250ms;
    -ms-transition: -webkit-transform ease 250ms;
    -o-transition: -webkit-transform ease 250ms;
    transition: -webkit-transform ease 250ms;
    -webkit-transition: transform ease 250ms;
    -moz-transition: transform ease 250ms;
    -ms-transition: transform ease 250ms;
    -o-transition: transform ease 250ms;
    transition: transform ease 250ms;
}

.sidenav a span {
    margin-right: 15px;
}

.sidenavLink {
    /* pour éviter que le texte passe en dessous de l'icone */
    min-width : 300px;
}

/* Position and style the close button (top right corner) */
.closeSidenav {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
}

/* MAIN CONTENT */
#mainContent {
    transition: margin-left .5s;
    width:100%;
    margin-top : 80px;
    margin-bottom : 0px;
}

/* TITLE BAR */
#titleBar {
    z-index : 500;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 40px;
    float: left;
    position : fixed;
    left : 0px;
    top : 0px;
    width : 100%;
    transition: margin-left .5s;
}

/* HOME TITLE BAR */
#homeTitleBar {
    z-index : 500;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 160px;
    float: left;
    position : fixed;
    left : 0px;
    top : 0px;
    width : 100%;
    transition: margin-left .5s;
}

/* TAB BAR */
#tabBar {
    z-index : 500;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 40px;
    float: left;
    position : fixed;
    left : 0px;
    top : 40px;
    width : 100%;
    transition: margin-left .5s;
}

#tabBar .iconLink {
    text-align : center;
    font-size : 1.4em;
    margin-top : 6px;
    opacity : 0.7;
}

#tabBar .iconLink.active {
    opacity : 1.0;
}

.floatingButtonBar {
    position : fixed;
    right : 0px;
    bottom : 0px;
    padding-right : 10px;
    padding-bottom: 10px;
}

.bg-primary-dark {
    background-color: #115F70;
}

.title {
    margin-left: 0;
    color: #1D9FBB;
}

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter [class*='col-']:not(:first-child),
.row.no-gutter [class*='col-']:not(:last-child) {
    padding-right: 0;
    padding-left: 0;
}
/* resize images */
.thumbnail img {
    width: 45%;
    height: auto;
    padding: 35px 10px 10px 10px;
}

.thumbnail {
    text-align: center;
    border: none;
}

.plus {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;
    border: none;
    color: #FFA31A;
}

.top-buffer { margin-bottom:0px; }

.icon-kinelive-orange {
    color : #FFA31A;
}

@font-face {
    font-family: "roboto";
    src: url('lib/RobotoTTF/Roboto-Regular.ttf');
}

.photo-patient {
    padding-right: 10px;
}

.photo-patient-large {
    margin-bottom: 10px;
}

.title-home {
    font-size: 45px;
}

.mainContentWithMenu {
    opacity: 0.4;
}

.hamburger {
    border: none;
    font-size: 16px;
}

.container-radios {
    margin-top:20px;
}

.img-radio {
    transform: scale(2,2);
}

.search {
    border: none;
    font-size: 16px;
}

.arrow {
    border: none;
}

.user-list .user-link {
    padding-left: 16px;
}

.irm{
    border-radius: 35%;
}
