<div id="tabBar" class="bg-primary">
	<div class="row">
		<div class="col-xs-4 iconLink" ng-class="{'active' : currentState == 'profile'}">
			<h4><span ng-click="goToProfile()">Profil</span></h4>
		</div>
		<div class="col-xs-4 iconLink" ng-class="{'active' : currentState == 'reeducation'}">
			<h4><span ng-click="goToReeducation()">Rééducation</span></h4>
		</div>
		<div class="col-xs-4 iconLink" ng-class="{'active' : currentState == 'calendar'}">
			<h4><span ng-click="goToCalendar()">Partage</span></h4>
		</div>
	</div>
</div>